.AddNewRecipe {
  text-align: center;
}

.AddNewRecipe > form {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 50%;
  margin-inline: auto;
  padding: 2rem;
  text-align: left;
}

.newRecipeForm div {
  margin-bottom: 1rem;
}

label {
  display: block;
}

.AddNewRecipe input,
textarea,
select {
  padding: 1rem;
  border: 1px solid #ddd;
  width: 100%;
}

.AddNewRecipe button {
  padding: 1rem 3rem;
  background: #a18f79;
  color: #fff;
}
