/* Header  */
.site-header {
  position: sticky;
  top: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  z-index: 3;
  background: #f1f1f1;
}

.header-container {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  height: 56px;
}

.header a {
  color: #a18f79;
}

.mobile-navigation {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  margin: 8px 8px 11px;
  padding: 1px 6px;
  border-top: 3px solid transparent;
}

.main-logo {
  flex: 0 0 auto;
  padding: 0 8px;
  color: #a18f79;
}

/* Mobile menu  */
@media only screen and (min-width: 0px) and (max-width: 1023px) {
  .menu-mobile-overlay {
    position: absolute;
    top: 56px;
    left: 0;
    overscroll-behavior-y: contain;
    background-color: rgba(0, 0, 0, 0.3);
    height: calc(100vh - 56px);
    width: 100%;
    z-index: 3;
  }
}

.mobile-navigation__menu {
  height: calc(100vh - 56px);
  max-width: 280px;
  background-color: #f1f1f1;
  color: #333;
}

@media only screen and (min-width: 1024px) {
  .mobile-navigation__menu {
    display: none;
  }
}

.mobile-navigation__menu-items {
  padding: 8px 0;
}

@media only screen and (min-width: 1024px) {
  .mobile-navigation {
    display: none;
  }
}
