/* Home  */
.home__top {
  color: white;
  padding: 0 5rem;
  background-size: cover;
  min-height: 60vh;
}

.home h2 {
  font-size: clamp(3rem, 5vw, 5rem);
}

.home h3 {
  text-align: center;
}

.home button a {
  padding: 1rem 3rem;
  background: #a18f79;
  color: #fff;
}

.home__bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 5rem 2rem;
}

.home__bottom a {
  color: #a18f79;
}

.home__cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* auto-fit makes card stretch and take up all spaces, auto-fill leaves empty space at the end */
  gap: 2rem;
}

.home__cards > div {
  border: 1px solid #a18f79;
  padding: 2rem;
}
