.recipeList {
  text-align: center;
  padding-inline: 5rem;
}

.search-input-container {
  margin: 0 16px;
}

.search-field {
  border: 1px solid blue;
  display: flex;
  max-width: 640px;
  height: 48px;
  margin: 20px auto 0;
  padding: 0 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border 250ms ease-out;
}

.search-field:focus-within {
  border-color: #a18f79 !important;
}

.search-field-icon {
  margin: 10px auto auto;
}

.search-field-icon > * {
  height: 24px;
  width: 24px;
}

.clearable-input {
  margin: 0 8px;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.clearable-input input {
  flex: 1 1 auto;
  height: 100%;
  border: none;
  outline: none;
  background: 0 0;
}

.clearable-input__clearIcon {
  margin: 0 0 0 4px;
  cursor: pointer;
  color: #a18f79;
}

/* RecipeList  */
.recipe__cards {
  width: 100%;
  display: grid;
  /* auto-fill keeps the card from stretching and taking up all available space, 29% makes cards too squished*/
  /* grid-template-columns: repeat(auto-fill, minmax(29%, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-between;
  gap: 2rem;
  margin-top: 4rem;
}
