.AddNewRecipe {
  text-align: center;
}

.AddNewRecipe > form {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 600px; /* form does not stretch over 500px when viewport grows */
  margin-inline: auto;
  padding: 2rem;
  text-align: left;
}

.newRecipeForm div {
  margin-bottom: 1rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.AddNewRecipe input,
textarea,
select {
  padding: 1rem;
  border: 1px solid #ddd;
  width: 100%;
}

.AddNewRecipe button {
  padding: 1rem 3rem;
  background: #a18f79;
  color: #fff;
  margin-right: 2rem;
}

.ingredients {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
