.recipeList {
  text-align: center;
  padding-inline: 5rem;
}

.recipeList > input {
  border: 1px solid #a18f79;
  padding: 1rem;
  width: 300px;
}

/* RecipeList  */
.recipe__cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* auto-fill keeps the card from stretching and taking up all available space */
  gap: 2rem;
  margin-top: 4rem;
}
