.recipeList {
  text-align: center;
  padding-inline: 5rem;
}

.recipeList > input {
  border: 1px solid #a18f79;
  padding: 1rem;
  width: 300px;
}

.recipeList a {
  color: #a18f79;
}

/* RecipeList  */
.recipe__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 4rem;
}
