.recipe__single {
  padding: 0 5rem;
}
.recipe__single-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.recipe__single-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
