.recipe-header-text {
  margin: 0 auto;
  max-width: 950px;
  width: 100%;
  padding: 20px 20px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  min-height: 100px;
  background-color: #fafafa;
}

.recipe__single-top {
  width: 100%;
}

.image__wrapper {
  position: relative;
}

.recipe-image {
  display: block;
  max-width: 1440px;
  max-height: 640px;
  width: 100%;
  object-fit: cover;
  height: calc(0.444 * 100vw);
}

.image__wrapper {
  position: relative;
}

.recipe-description {
  font-size: 20px;
}

.country__flag {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.recipe__single-bottom {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  /* display: grid;
  grid-template-columns: 1fr; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
}

.recipe-ingredients {
  flex: 1 1 50%;
  padding: 20px;
}

.recipe-instructions {
  padding: 20px;
  flex: 1 2 100%;
}

.recipe__subsection--ingredient {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 1px dotted #e5e5e5;
  padding: 8px 0;
  vertical-align: middle;
  justify-content: space-between;
}

.recipe-ingredient-name {
  color: #a18f79;
}

@media only screen and (min-width: 660px) {
  .recipe-header-text {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 16px;
    min-height: 0;
    color: white;
    background-color: transparent;
    background-color: #c5b6a379;
  }

  .recipe-heading {
    font-size: 44px;
  }

  .recipe-description {
    font-style: 20px;
    line-height: 44px;
    color: #fff;
  }

  .recipe-ingredients {
    padding: 20px 20px 60px;
    flex: 1 1 40%;
  }

  .recipe-instructions {
    flex: 1 2 50%;
  }
}

/* @media screen and (min-width: 800px) {
  .recipe__single-bottom {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
} */
