.recipe__card {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  position: relative; /* to position x */
}

.recipe__card:hover {
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.recipe__card > img {
  object-fit: cover;
  max-width: 100%;
  height: 200px;
}

.recipe__card > button {
  position: absolute;
  background: transparent;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  color: white;
}

.recipe__card > button:hover {
  background: #c2ae94;
}
