@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  font-size: 1.8rem;
}
/* Header  */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightgrey;
  padding: 2rem 5rem;
}

nav ul li {
  display: inline-block;
  margin-right: 3rem;
}

.header a {
  color: black;
}
