@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  font-size: 1.8rem;
  line-height: 1.7;
}
/* Header  */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightgrey;
  padding: 2rem 5rem;
}

nav ul li {
  display: inline-block;
  margin-right: 3rem;
}

.header a {
  color: black;
}

main {
  position: relative; /* to position video */
}

video {
  max-width: 100%;
  width: 100%;
  height: 65vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/* Home  */
.home-top {
  color: white;
  padding: 0 5rem;
}

h2 {
  font-size: clamp(3rem, 5vw, 5rem);
}

h3 {
  text-align: center;
}

.home-bottom {
  border: 1px solid white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 5rem 2rem;
}

.home-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.home-cards > * {
  border: 1px solid #ddd;
  padding: 1rem;
}
